@use "../utils/mixin.scss" as *;

.wrap {
  // background: linear-gradient(to bottom, #6b093a, #741083, #f53f4b, #fb8272);
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  font-family: serif;
  text-align: center;

  li {
    list-style-position: inside;
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 600px;
  min-height: 260px;
  padding: 30px 10px;
  margin: 40px auto;
  color: #fff;
  background: rgba(0, 0, 0, .8);

  @include min-screen() {
    min-height: 400px;
    margin-top: 90px;
    margin-bottom: 80px;
  }
}

.h1 {
  margin: 0 0 8px;
  font-size: 26px;
}

.en {
  margin: 0;
}

.logo {
  padding: 12px;
  background: #333;
}

.img {
  display: block;
  width: 42px;
  height: 42px;
  margin: 0 auto;
  opacity: .8;
}
