@use "../utils/mixin.scss" as *;

.wrap {
  padding: 40px 20px;
  background: #fff;
}

.h2 {
  margin: 0 0 20px;
  font-size: 24px;
  text-align: center;
}

.p {
  margin: 0 0 40px;
  font-size: 14px;
  text-align: center;
}

.ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: -10px 0 0 -10px;
  list-style: none;

  @include min-screen() {
    margin: -20px 0 0 -20px;
  }
}

.li {
  display: flex;
  flex-basis: 33.3333%;
  padding: 10px 0 0 10px;

  @include min-screen() {
    flex-basis: 20%;
    max-width: 200px;
    padding: 20px 0 0 20px;
  }
}

.panel {
  position: relative;
  display: block;
  flex-grow: 1;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);

  @include min-screen() {
    transition: .2s transform ease-out;

    .text {
      position: absolute;
      bottom: 0;
      display: grid;
      place-items: flex-end;
      padding: 10px;
      font-size: 10px;
      color: #fff;
      background: rgba(0, 0, 0, .8);
      transition: .2s transform ease-out;
      transform: translateY(100%);
    }

    &[href] {
      &::before {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(0, 0, 0, .8);
        opacity: 0;
        transition: .2s opacity ease-out;
      }

      &:hover,
      &:focus {
        transform: scale(1.12);

        &::before {
          opacity: 1;
        }

        .img {
          opacity: .8;
        }

        .text {
          transform: none;
        }
      }
    }
  }
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text {
  display: none;
}
